{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": false,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "quoteProps": "consistent"
}
