.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: var(--radius);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;

  /* Variants */
  &.variant-default {
    background-color: hsl(var(--color-blue-900));

    &:hover {
      opacity: 0.9;
    }
  }

  /* Sizes */
  &.size-default {
    height: var(--spacing-9);
    padding: var(--spacing-2) var(--spacing-4);
  }

  &.size-sm {
    height: var(--spacing-8);
    border-radius: var(--radius-sm);
    padding: 0 var(--spacing-3);
  }

  /* Pseudo-classes */
  &:focus-visible {
    outline: none;
  }

  /* States */
  &:disabled {
    pointer-events: none;
    opacity: 50%;
  }

  &.active {
    background-color: hsl(var(--color-blue-500));
  }
}
