.app-layout {
  height: 100%;
  display: grid;
  grid-template-rows: var(--spacing-14) 1fr;

  .al-header {
    padding: 0 var(--spacing-6);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .alh-logo {
      height: var(--spacing-4);
    }

    .alh-menu {
      display: grid;
      grid-template-columns: repeat(3, var(--spacing-32));
      column-gap: var(--spacing-4);

      .skeleton {
        height: var(--spacing-8);
      }

      .alhm-button {
        .alhmb-icon {
          height: var(--spacing-5);
          margin-right: var(--spacing-2);
        }
      }
    }
  }

  .al-main {
    background-color: var(--color-muted);
    padding: 0 var(--spacing-6);
  }
}
