@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 1 0 0;
    --foreground: 0.23 0 0;

    --muted: 0.96 0 0;
    --muted-foreground: 0.48 0 0;

    --popover: 1 0 0;
    --popover-foreground: 0.23 0 0;

    --card: 1 0 0;
    --card-foreground: 0.23 0 0;

    --border: 0.89 0 0;
    --input: 0.89 0 0;

    --primary: 0.27 0 0;
    --primary-foreground: 0.98 0 0;

    --secondary: 0.96 0 0;
    --secondary-foreground: 0.27 0 0;

    --accent: 0.96 0 0;
    --accent-foreground: 0.27 0 0;

    --destructive: 0.64 0.156 29.234;
    --destructive-foreground: 0.98 0 0;

    --success: 0.54 0.139 148.115;
    --success-foreground: 0.96 0.015 0;

    --ring: 0.23 0 0;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  html,
  body {
    @apply h-full max-h-full min-h-full;
  }

  body {
    @apply isolate bg-muted text-foreground antialiased;

    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1536px] px-4 xl:px-6 2xl:px-4;
  }
}
